- board = local_assigns.fetch(:board, nil)
- @no_container = true
- @content_class = "issue-boards-content js-focus-mode-board"
- page_title "Boards"

- if show_new_nav?
  - content_for :sub_title_before do
    %li= link_to "Issues", project_issues_path(@project)

- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'filtered_search'
  = webpack_bundle_tag 'boards'

  %script#js-board-template{ type: "text/x-template" }= render "projects/boards/components/board"
  %script#js-board-modal-filter{ type: "text/x-template" }= render "shared/issuable/search_bar", type: :boards_modal

= render "projects/issues/head"

.hidden-xs.hidden-sm
  = render 'shared/issuable/search_bar', type: :boards, board: board

#board-app.boards-app{ "v-cloak" => true, data: board_data }
  .boards-list{ ":class" => "{ 'is-compact': detailIssueVisible }" }
    .boards-app-loading.text-center{ "v-if" => "loading" }
      = icon("spinner spin")
    %board{ "v-cloak" => true,
      "v-for" => "list in state.lists",
      "ref" => "board",
      ":list" => "list",
      ":disabled" => "disabled",
      ":issue-link-base" => "issueLinkBase",
      ":root-path" => "rootPath",
      ":board-id" => "boardId",
      ":key" => "_uid" }
  = render "projects/boards/components/sidebar"
  %board-add-issues-modal{ "blank-state-image" => render('shared/empty_states/icons/issues.svg'),
    "new-issue-path" => new_project_issue_path(@project),
    "milestone-path" => milestones_filter_dropdown_path,
    "label-path" => labels_filter_path,
    ":issue-link-base" => "issueLinkBase",
    ":root-path" => "rootPath",
    ":project-id" => @project.try(:id) }
