- @content_class = "limit-container-width" unless fluid_layout
- page_title "#{@merge_request.title} (#{@merge_request.to_reference})", "Merge Requests"
- page_description @merge_request.description
- page_card_attributes @merge_request.card_attributes
- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('common_vue')
  = page_specific_javascript_bundle_tag('diff_notes')
  = webpack_bundle_tag('issuable')

.merge-request{ 'data-url' => merge_request_path(@merge_request, format: :json), 'data-project-path' => project_path(@merge_request.project) }
  = render "projects/merge_requests/mr_title"

  .merge-request-details.issuable-details{ data: { id: @merge_request.project.id } }
    = render "projects/merge_requests/mr_box"

    - if @merge_request.source_branch_exists?
      = render "projects/merge_requests/how_to_merge"

    :javascript
      window.gl.mrWidgetData = #{serialize_issuable(@merge_request)}

      // Append static, server-generated data not included in merge request entity (EE-Only)
      // Object.assign would be useful here, but it blows up Phantom.js in tests
      window.gl.mrWidgetData.is_geo_secondary_node = '#{Gitlab::Geo.secondary?}' === 'true';
      window.gl.mrWidgetData.geo_secondary_help_path = '#{help_page_path("/gitlab-geo/configuration.md")}';
      window.gl.mrWidgetData.enable_squash_before_merge = '#{@merge_request.project.feature_available?(:merge_request_squash)}' === 'true';
      window.gl.mrWidgetData.squash_before_merge_help_path = '#{help_page_path("user/project/merge_requests/squash_and_merge")}';

    #js-vue-mr-widget.mr-widget

    - content_for :page_specific_javascripts do
      = webpack_bundle_tag 'common_vue'
      = webpack_bundle_tag 'vue_merge_request_widget'

    .content-block.content-block-small.emoji-list-container
      = render 'award_emoji/awards_block', awardable: @merge_request, inline: true

    .merge-request-tabs-holder{ class: ("js-tabs-affix" unless ENV['RAILS_ENV'] == 'test') }
      .merge-request-tabs-container
        .scrolling-tabs-container.inner-page-scroll-tabs.is-smaller
          .fade-left= icon('angle-left')
          .fade-right= icon('angle-right')
          .nav-links.scrolling-tabs
            %ul.merge-request-tabs
              %li.notes-tab
                = link_to project_merge_request_path(@project, @merge_request), data: { target: 'div#notes', action: 'show', toggle: 'tab' } do
                  Discussion
                  %span.badge= @merge_request.related_notes.user.count
              - if @merge_request.source_project
                %li.commits-tab
                  = link_to commits_project_merge_request_path(@project, @merge_request), data: { target: 'div#commits', action: 'commits', toggle: 'tab' } do
                    Commits
                    %span.badge= @commits_count
              - if @pipelines.any?
                %li.pipelines-tab
                  = link_to pipelines_project_merge_request_path(@project, @merge_request), data: { target: '#pipelines', action: 'pipelines', toggle: 'tab' } do
                    Pipelines
                    %span.badge.js-pipelines-mr-count= @pipelines.size
              %li.diffs-tab
                = link_to diffs_project_merge_request_path(@project, @merge_request), data: { target: 'div#diffs', action: 'diffs', toggle: 'tab' } do
                  Changes
                  %span.badge= @merge_request.diff_size
        #resolve-count-app.line-resolve-all-container.prepend-top-10{ "v-cloak" => true }
          %resolve-count{ "inline-template" => true, ":logged-out" => "#{current_user.nil?}" }
            %div
              .line-resolve-all{ "v-show" => "discussionCount > 0",
                ":class" => "{ 'has-next-btn': !loggedOut && resolvedDiscussionCount !== discussionCount }" }
                %span.line-resolve-btn.is-disabled{ type: "button",
                    ":class" => "{ 'is-active': resolvedDiscussionCount === discussionCount }" }
                  = render "shared/icons/icon_status_success.svg"
                %span.line-resolve-text
                  {{ resolvedDiscussionCount }}/{{ discussionCount }} {{ resolvedCountText }} resolved
              = render "discussions/new_issue_for_all_discussions", merge_request: @merge_request
              = render "discussions/jump_to_next"

    .tab-content#diff-notes-app
      #notes.notes.tab-pane.voting_notes
        .row
          %section.col-md-12
            .issuable-discussion
              = render "projects/merge_requests/discussion"

      #commits.commits.tab-pane
        -# This tab is always loaded via AJAX
      #pipelines.pipelines.tab-pane
        - if @pipelines.any?
          = render 'projects/commit/pipelines_list', disable_initialization: true, endpoint: pipelines_project_merge_request_path(@project, @merge_request)
      #diffs.diffs.tab-pane
        -# This tab is always loaded via AJAX

    .mr-loading-status
      = spinner

= render 'shared/issuable/sidebar', issuable: @merge_request
- if @merge_request.can_be_reverted?(current_user)
  = render "projects/commit/change", type: 'revert', commit: @merge_request.merge_commit, title: @merge_request.title
- if @merge_request.can_be_cherry_picked?
  = render "projects/commit/change", type: 'cherry-pick', commit: @merge_request.merge_commit, title: @merge_request.title

:javascript
  $(function () {
    window.mergeRequest = new MergeRequest({
      action: "#{j params[:tab].presence || 'show'}",
    });
  });
